#minimizing-problem {
	margin-top: 1.5rem;
}

#locations {
	margin-top: 1.5rem;
}

#statistical-independence {
	margin-top: 1.5rem;
}

#simulation {
	margin-top: 1.5rem;
}

#myCheckbox {
	margin-bottom: 1.5rem;
}

.title {
	margin-top: 1.5rem;
}

#cauchy-swartz-inequality {
	margin-top: 1.5rem;
}

#independence-and-uncorrelation {
	margin-top: 1.5rem;
}